template(name="createRelationship")
  form#createRelationship
    .panel.panel-success
      .panel-heading
        h5.panel-title Create Route
      .panel-body#createRelPreview(style="padding:0px")
      .panel-body
        .form-group
          label(for="km") Distance
          input.form-control(id="km" name="km" type="number" step="any" min="1" required)
      .panel-footer
        button.btn.btn-block.btn-success(type="submit") Create Route
        center OR
        button.btn.btn-block.btn-primary#getPath(type="button") Calculate Shortest Path