template(name="updateRelationship")
  form#updateRelationship
    .panel.panel-primary
      .panel-heading
        h5.panel-title Update Route
      .panel-body#updateRelPreview(style="padding:0px")
      .panel-body
        .form-group
          label(for="km") Distance
          input.form-control(id="km" name="km" type="number" step="any" min="1" required value="{{relationship.km}}")
      .panel-footer
        .btn-group-vertical(style="width:100%")
          button.btn.btn-block.btn-primary(type="submit") Update Route
          button.btn.btn-block.btn-danger#deleteRelationship(type="button") Delete Route